.about, .works, .coorporate {
  padding: 100px 20%;
}

@media (max-width: 1280px) {
  .about, .works, .coorporate {
    padding: 80px 10%;
  }
}

@media (max-width: 768px) {
  .about, .works, .coorporate {
    padding: 80px 5%;
  }
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
}

.fd-in {
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.fd-done {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

section {
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.section__title {
  font-size: 48px;
  text-align: center;
}

.section__title--discription {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

.hero {
  padding: 140px 10% 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#E4C363), to(#DE9759));
  background-image: linear-gradient(0deg, #E4C363 0%, #DE9759 100%);
  color: #fff;
}

.hero img#logo {
  width: 40%;
}

@media (max-width: 768px) {
  .hero img#logo {
    width: 70%;
  }
}

.hero h1 {
  font-size: 15px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 40px;
}

.hero p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .hero p {
    line-height: 1.7;
    font-size: 18px;
  }
}

.hero a {
  display: inline-block;
  background: #fff;
  padding: 15px 40px 15px 20px;
  margin: 40px 0 0;
  font-size: 18px;
  font-weight: 900;
  color: #FF6B95;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  border: 2px solid #fff;
  position: relative;
}

@media (max-width: 768px) {
  .hero a {
    display: block;
  }
}

.hero a::after {
  position: absolute;
  content: "";
  right: 20px;
  width: 8px;
  height: 8px;
  top: calc(50% - 4px);
  border-top: 2px solid #FF6B95;
  border-right: 2px solid #FF6B95;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hero a:hover {
  background: #FF6B95;
  color: #fff;
}

.hero a:hover::after {
  border-color: #fff;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__image {
  width: 50%;
}

@media (max-width: 768px) {
  .about__image {
    width: 100%;
  }
}

.about__image img {
  width: 100%;
  height: auto;
}

.about__text {
  width: 50%;
}

@media (max-width: 768px) {
  .about__text {
    width: 100%;
  }
}

.about__text p {
  line-height: 2;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .about__text p {
    margin: 20px 0 0;
  }
}

.works {
  background: #f7f7f7;
}

.works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__text {
  width: 100%;
}

@media (max-width: 768px) {
  .works__text {
    width: 100%;
  }
}

.works__text h3 {
  margin-top: 15px;
}

.works__text p {
  line-height: 2;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .works__text p {
    margin: 5px 0 0;
  }
}

.works__text ul {
  margin-top: 20px;
  margin-left: 70px;
}

@media (max-width: 768px) {
  .works__text ul {
    margin-top: 10px;
    margin-left: 40px;
  }
}

.coorporate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.coorporate__text {
  width: 100%;
}

@media (max-width: 768px) {
  .coorporate__text {
    width: 100%;
  }
}

.coorporate__text h3 {
  margin-top: 15px;
}

.coorporate__text p {
  line-height: 2;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .coorporate__text p {
    margin: 5px 0 0;
  }
}

.coorporate__text ul {
  margin-top: 20px;
  margin-left: 70px;
}

@media (max-width: 768px) {
  .coorporate__text ul {
    margin-top: 10px;
    margin-left: 40px;
  }
}

footer {
  padding: 15px 0;
  background: #444;
  text-align: center;
  color: #fff;
}

footer small {
  font-size: 14px;
  line-height: 1;
}
/*# sourceMappingURL=style.css.map */