$bg-gray: #f7f7f7;
$bg-footer: #444;

%section-padding {
  padding: 100px 20%;

  @media (max-width: 1280px) {
    padding: 80px 10%;
  }

  @media (max-width: 768px) {
    padding: 80px 5%;
  }
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
}

.fd-in {
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.fd-done {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

section {
  overflow: hidden;
  transition: .8s;
}

.section {
  &__title {
    font-size: 48px;
    text-align: center;

    &--discription {
      font-size: 18px;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.hero {
  padding: 140px 10% 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, #E4C363 0%, #DE9759 100%);
  color: #fff;

  img#logo {
    width: 40%;

    @media (max-width: 768px) {
      width: 70%;
    }
  }

  h1 {
    font-size: 15px;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 40px;
  }

  p {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
    text-align: center;

    @media (max-width: 768px) {
      line-height: 1.7;
      font-size: 18px;
    }
  }

  a {
    display: inline-block;
    background: #fff;
    padding: 15px 40px 15px 20px;
    margin: 40px 0 0;
    font-size: 18px;
    font-weight: 900;
    color: #FF6B95;
    text-decoration: none;
    transition: .5s;
    border: 2px solid #fff;
    position: relative;

    @media (max-width: 768px) {
      display: block;
    }

    &::after {
      position: absolute;
      content: "";
      right: 20px;
      width: 8px;
      height: 8px;
      top: calc(50% - 4px);
      border-top: 2px solid #FF6B95;
      border-right: 2px solid #FF6B95;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:hover {
      background: #FF6B95;
      color: #fff;

      &::after {
        border-color: #fff;
      }
    }
  }
}

.about {
  @extend %section-padding;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }

    p {
      line-height: 2;
      margin-left: 50px;
      font-size: 18px;
      font-weight: 500;

      @media (max-width: 768px) {
        margin: 20px 0 0;
      }
    }
  }
}

.works {
  @extend %section-padding;
  background: $bg-gray;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    width: 100%;

    @media (max-width: 768px) {
      width: 100%;
    }

    h3 {
      margin-top: 15px;
    }

    p {
      line-height: 2;
      margin-left: 50px;
      font-size: 18px;
      font-weight: 500;

      @media (max-width: 768px) {
        margin: 5px 0 0;
      }
    }

    ul {
      margin-top: 20px;
      margin-left: 70px;

      @media (max-width: 768px) {
        margin-top: 10px;
        margin-left: 40px;
      }
    }
  }
}

.coorporate {
  @extend %section-padding;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    width: 100%;

    @media (max-width: 768px) {
      width: 100%;
    }

    h3 {
      margin-top: 15px;
    }

    p {
      line-height: 2;
      margin-left: 50px;
      font-size: 18px;
      font-weight: 500;

      @media (max-width: 768px) {
        margin: 5px 0 0;
      }
    }

    ul {
      margin-top: 20px;
      margin-left: 70px;

      @media (max-width: 768px) {
        margin-top: 10px;
        margin-left: 40px;
      }
    }
  }
}

footer {
  padding: 15px 0;
  background: $bg-footer;
  text-align: center;
  color: #fff;

  small {
    font-size: 14px;
    line-height: 1;
  }
}